@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply bg-gray-900 text-amber-50 min-h-screen px-5 py-5;
        font-family: "Work Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }
}
